@import "themes/mocha.css";
* {
    font-family: JetBrainsMono Nerd Font, FiraCode Nerd Font, monospace;
    font-size: 11px;
    border-radius: 2px;
    margin: 1px;
    box-shadow: none;
}

window#waybar {
    background: @base;
    color: @text;
    border-bottom: 2px solid @surface0;
    transition-property: background-color;
    transition-duration: 0.5s;
}

#workspaces button {
    background: transparent;
    color: @subtext1;
    border: none;
    padding: 0 2px;
}
#workspaces button.active {
    background: @surface0;
    color: @blue;
}
#workspaces button:hover {
    background: @surface1;
    color: @lavender;
}
#workspaces button.urgent {
    background: @red;
    color: @crust;
}
#workspaces {
    margin-right: 10px;
}

#clock, #memory, #cpu, #network, #pulseaudio, #backlight, #custom-power, #tray, #battery, #temperature, #custom-temps {
    background: @surface0;
    color: @text;
    padding: 0 6px;
    margin: 0 1px;
}
#temperature.critical {
    background-color: #E42022; /* Red background for critical temps */
}
#temperature {
    /* Normal styling */
    color: #ffffff; 
}

#custom-temps.critical {
  background: @red;
  color: @crust;
  font-weight: bold;
  animation: blink 1s step-end infinite alternate;
}
@keyframes blink {
  to { opacity: 0.5; }
}

#battery.charging {
    color: @green;
}
#battery.critical {
    color: @red;
}

#custom-power {
    background: @maroon;
    color: @crust;
}
